.recipe{
  background: #f7f3e8;
  padding:40px;
  text-align: center;
  &__main{
    background-color: white;
    margin: auto;
    width: 70%;
    padding:30px;
    margin-top: 40px;
    &__header{
      padding:20px;
      border-bottom:2px solid #dee7ec;
      &__title{
        width: 50%;
        height: 60px;
        font-size: 50px;
      }
        &__info{
          width: 70%;
          height: 60px;
          font-size: 18px;
        }
    }
    &__content{
      padding:20px;
      border-bottom:2px solid #dee7ec;
      text-align: center;
      margin: auto;
      &__insert{
        @include flexbox_space-between;
        &__image{
          height:200px;
          width: 200px;
          font-size:100px;
          padding-left:100px;
        }
        &__material{
          padding-right:100px;
        }
      }
    }
    &__recipe-form{
      position: relative;
      font-size:18px;
      &__list{
        height:100px;
        width: 15%;
      }
    }
  }
  &__submit{
    margin-bottom:40px;
    width: 70%;
  }
}
.submit-botton{
    padding: 8px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    width: 70%;
    background-color:blue;
    text-align: center;
}
.submit-botton:hover {
    opacity: 1;
  }
.title--input{
    width: 50%;
    height: 60px;
    font-size: 50px;
    padding: 15px;
    margin: 10px;
  }
  .info--input{
      width: 80%;
      height: 60px;
      font-size: 18px;
      padding:10px;
      margin: 10px;
    }