.recipe
  .recipe__header
    .recipe__header__titile
    = @dish.title
    .recipe__header__titile__info
      = @dish.info
  .recipe__content
    .recipe__content__insert
      .recipe__content__insert__image
        = image_tag @dish.image.to_s
      .recipe__content__insert__material
        材料
        .recipe__content__insert__material--list
          じゃがいも
          みそ
          水
          牛乳
          ねぎ
    .recipe__content__cook
      作り方
      .recipe__content__cook--list
        きる
      .recipe__content__cook--list
        焼く
      .recipe__content__cook--list
        盛り付ける