.header{
  background-color: white;
  height: 60px;
  line-height: 60px;
  &__left{
    float: left;
  }
  &__right{
    float: right;
    &__username{
      display: inline;
    }
    .avatar{
      width: 60px;
      height: 60px;
      border-radius: 50%;
      overflow: hidden;
    }
    &__logout{
      display: inline;
    }
  }
}