%main.user-content
  .user-content__pro
    .user-content__pro__avatar
      = image_tag @user.avatar,class: "avatar"
    .user-content__pro__name
      = @user.nickname
  .user-content__recipe
  
  
