.header
  .header__left
    = link_to "#" do
      トップページ
  .header__right
    .header__right__username
      = link_to "#" do
        たかし
    .header__right__logout
      = link_to "#" do
        ログアウト