.header__content
  %ul.header__content__list
    %li.header__content__list__meet
      =link_to "#" do
        肉料理
    %li.header__content__list__fish
      =link_to "#" do
        魚料理
    %li.header__content__list__salad
      = link_to "#" do
        サラダ
    %li.header__content__list__1ppinn
      =link_to "#" do
        一品料理
.recipe-content
  .recipe-lists
    .recipe-lists__head
      新着レシピ
    .recipe-lists__inner
      = render "home/recipe"
        