.header__wrapper
  .header__wrapper__container
    %h1 レシピを共有しあうサイト
    %p みんなでレシピを共有して好きな料理を投稿してxxいきましょう

.main
  .main__wrapper
    %ul.main__wrapper__header
      %li.main__wrapper__header__left
        新着
      %li.main__wrapper__header__center
        時間
      %li.main__wrapper__header__right
        栄養
    .main_wrapper__content
      .recipe-content
        .recipe-lists
          .recipe-lists__head
           
          .recipe-lists__inner
            = render "home/recipe"
            = paginate @dishes