@import "modules/mixin";
@import "modules/variable";
@import "modules/common"; 
.user-content{
  padding-top:80px;
  text-align: center;
  &__pro{
    height: 150px;
    &__avatar{
      .avatar{
        @include avatar_set(100px,100px)
      }
    }
  }
}
